{% extends "::layout.html.twig" %}

{% block title %} Choix - {{ parent() }} {% endblock %}

{% block body %}

	<h1>Choix des billets</h1>
	<hr>
	
	{# Si plus de 1000 ventes : #}
	{% for message in app.session.flashbag.get('notice') %}
		<div class="alert alert-danger">
	    	<p>{{ message }}</p>
	    </div>
	{% endfor %}

	{# Mon formulaire de selection des billets s'affichera ici #}
	<form method="post">
		<div class="row" style="margin-top:60px">
			<div class="col-sm-12 col-md-5">
				{{ form_row(form.laDate) }}
			</div>

			<div class="col-sm-12 col-md-3">
				{{ form_row(form.typeBillet) }}
			</div>

			<div class="col-sm-12 col-md-4">
				{{ form_row(form.nbrBillet) }}
			</div>
		</div>
		
		{{ form_widget(form._token) }}

	    <input type="submit" value="Etape suivante" id="customSubmit" class="btn btn-success" />
    </form>

	<script>

		$(function() {
			//["jour-mois"] L'année n'est pas précisée puisqu'elle n'a pas d'importance
			var joursFeries = ["1-1","1-5", "8-5", "14-7", "15-8", "1-11", "11-11", "25-12"];

			//On compare le jour et le mois de la date courante avec le tableau des jours fériés
			function lesJoursFeries(date) {
				var d = date.getDate(), m = date.getMonth();
				for (i = 0; i < joursFeries.length; i++) {
					//Si le jour et le mois ne se trouve nul part dans le tableau
					if($.inArray(d + '-' + (m+1), joursFeries) == -1) {
						//On affiche cette date
						return [true];
					}
				}
				//Sinon on ne l'affiche pas
				return [false];
			}


			function joursInterdits(date) {
				var day = date.getDay();
				//Si c'est un dimanche (0) ou un mardi (2)
				if(day == 0 || day == 2) {
					return [false];
				}
				//Si c'est ni un dimanche ni un mardi on vérifie si c'est un jour férié
				return lesJoursFeries(date);
				//Il faudra peut être faire ici les prochains test de jours interdit
			}

			$('#ylaakel_billeteriebundle_commande_billet_laDate').datepicker({
				//format de la date
				dateFormat: 'dd-mm-yy',
				firstDay: 1,
				//pour changer le mois et l'année plus facilement
				changeMonth: true,
      			changeYear: true,
      			//interdiction de sélectionner les jours passés
      			minDate: 0,
      			//interdiction de sélectionner les jours 1 an après la date courante
      			maxDate: '+1Y',
      			//jours spécifique interdit
      			beforeShowDay: joursInterdits,

      			onSelect: function(dateText) {
      				var currentDay = new Date();
      				//Si le jour sélectionné (dateText) est égal au jour courant
      				if(currentDay.getDate() + "-" + (currentDay.getMonth() +1) + "-" + currentDay.getFullYear() == dateText) {
      					//Si 14h est passé
      					if(currentDay.getHours() >= 14 && (currentDay.getMinutes() > 0 || currentDay.getSeconds() > 0)) {
      						//Bouton radio journée désactivé
					        $(':radio[value="1"]').attr('disabled', true).prop('checked', false).parent().css('color', 'grey').css('font-style', 'italic');
					        //Bouton radio demi-journée activé obligatoirement
					        $(':radio[value="0"]').prop('checked', true);
      					}
      				}
      			}
			});

			$('input, select').css('font-weight', 'bold');
		});

	</script>
{% endblock %}

