{% extends "::layout.html.twig" %}


{% block title %} Info - {{ parent() }} {% endblock %}

{% block body %}
	
	<h1>Informations sur les billets</h1>
	<hr>
	<div class="alert alert-info">
		Date de réservation choisie : le <strong>{{ commande.laDate|date('d/m/Y') }}</strong>
	</div>

	<form method="post">
		<div class="row">
			{% for infoBillet in form.infoBillets %}
				<div class="col-md-4">
	            	<div class="well">
	            		Billet n°{{loop.index}}
	            		<hr>
	            		{{ form_widget(infoBillet) }}
	            	</div>
	            </div>
        	{% endfor %}	
		</div>
		{{ form_widget(form._token) }}
		<div class="row">
		    <input type="submit" value="Etape suivante" id="customSubmit" class="btn btn-success" />	
		</div>	
	</form>	

{% endblock %}