{% extends "::layout.html.twig" %}


{% block title %} Info - {{ parent() }} {% endblock %}

{% block body %}
	
	<h1>{% trans %}Informations sur les billets{% endtrans %}</h1>
	<hr>
	<div class="alert alert-info">
		Date : {{ commande.laDate|date('l') }}
		<strong>{% trans %}À savoir{% endtrans %} :</strong> {% trans %}Si vous choisissez l'option "Tarif réduit" il faudra présenter un justificatif à l'entrée du musée{% endtrans %}
	</div>

	<form method="post">
		<div class="row">
			{% for infoBillet in form.infoBillets %}
				<div class="col-sm-12 col-md-4">
	            	<div class="well">
	            		{% trans %}Billet{% endtrans %} n°{{loop.index}}
	            		<hr>
	            		{{ form_widget(infoBillet) }}
	            	</div>
	            </div>
        	{% endfor %}	
		</div>
		{{ form_widget(form._token) }}
		<div class="row">
		    <input type="submit" value="{% trans %}Etape suivante{% endtrans %}" id="customSubmit" class="btn btn-success" />	
		</div>	
	</form>	

{% endblock %}


