{% extends "::layout.html.twig" %}

{% block title %} {% trans %}Paiement{% endtrans %}- {{ parent() }}{% endblock %}

{% block body %}
	<h1>{% trans %}Paiement de vos billets{% endtrans %}</h1>
	<hr>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="well">
				<strong>{% trans %}Récapitulatif de votre commande{% endtrans %} : </strong>
				<hr>

				<ul>
					<li>{% trans %}Date de réservation choisie{% endtrans %} :
						<strong>{{ commande.laDate|date('d/m/Y') }} </strong> <span class="glyphicon glyphicon-ok">
					</li>
					<li>{% trans %}Type de billet{% endtrans %} : {% if commande.typeBillet == true %}
						<strong>{% trans %}Journée{% endtrans %}</strong> <span class="glyphicon glyphicon-ok">{% else %}<strong>{% trans %}Demi-journée{% endtrans %}</strong> <span class="glyphicon glyphicon-ok">{% endif %}
					</li>
					<li>{% trans %}Nombre de billet(s){% endtrans %} : 
						<strong>{{ commande.nbrBillet }}</strong> <span class="glyphicon glyphicon-ok">
					</li>
				</ul>
				<hr>

				<strong>{% trans %}Prix des billets{% endtrans %} : </strong>
				<br>
				<ul>
					{% for infoBillet in allBillets %}
						<li>{% trans %}Billet de{% endtrans %} "{{ infoBillet.prenom }} {{ infoBillet.nom }}" : 
							<strong>{{ infoBillet.prix }}€</strong>
						</li>
					{% endfor %}
				</ul>
				<hr>

				<strong>{% trans %}Prix total{% endtrans %} : {{ prixTotal }}€</strong>
			</div>
		</div>
	</div>
	
	<div class="row">	
		<form action="{{ path('ylaakel_billeterie_confirmation_billet', {'numCommande': commande.numCommande}) }}" method="POST" style="display:block; margin:auto; font-size:20px">
		  <script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
		    data-amount="{{ prixTotal * 100}}"
		    data-name="{% trans %}Billeterie du Louvre{% endtrans %}"
		    data-description="{% trans %}Paiement{% endtrans %}"
		    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		    data-locale="auto"
		    data-currency="EUR"
		    data-email="{{ commande.email }}"
		    data-label="{% trans %}Paiement final{% endtrans %}"
		    data-allow-remember-me="false">
		  </script>
		</form>
	</div>

{% endblock %}