{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<title>{% block title %}Billeterie du Louvre{% endblock %}</title>

  	{% block stylesheets %}
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      {% stylesheets 'bundles/ylaakelbilleterie/css/styles.css' filter='cssrewrite, scssphp' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	{% endblock %}
</head>

<body>
	<header class="container-fluid">
		<div class="row">
			<nav id="nav1" class="navbar navbar-default" style="border-bottom:none">
  				<div class="container-fluid">
    				<div class="navbar-header">
    					<a class="navbar-brand" href="{{ path('ylaakel_billeterie_homepage') }}">
    					 	<img src=" {{ asset('images/louvre_logo.png') }} " alt="Logo louvre" id="logo">
    					 	<span id="titre-logo">Billeterie du Louvre</span>
    					</a>
   						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
   						</button>
   					</div>
   					<div class="collapse navbar-collapse" id="myNavbar">
    					<ul class="nav navbar-nav navbar-right">
     						<li><a href="{{ path('ylaakel_billeterie_contact') }}">Contact</a></li>
      					<li><a id="tradEn" href="{{ app.request.getBaseURL()}}/en/">EN</a></li>
                <li><a id="tradFr" href="{{ app.request.getBaseURL()}}/fr/">FR</a></li>
    					</ul>
    				</div>
				</div>
			</nav>
		</div>
	</header>

  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% endblock %}

	<div class="row" id="row2">
		<div class="container">
			{% block body %}
			{% endblock %}
	  </div>
	</div>
  
  <footer>
      <span>Mentions légales</span>
      <span>Conditions de vente</span>
  </footer>
</body>
</html>